extends ../layouts/entrance

append head_style
	link(href="/css/item.css", rel="stylesheet")

block body_content
	.row.container
		.col-lg-12
			h1.page-header 網站品項
			ul.nav.nav-pills
				for _itemCategory in itemCategories
					li(class=itemCategory.name == _itemCategory.name ? "active" : "")
						a(href="?categoryId="+_itemCategory._id) #{_itemCategory.name}
			a.btn.btn-warning.m-10(
				href="/create?categoryId="+itemCategory._id
				onclick="return confirm('確定新增？')"
			) 新增品項
	for item in items
		.row.item
			.col-lg-offset-1.col-lg-2.header
				img(
					src=item.imageUrl
				)
			.col-lg-8
				form(method="POST")
					.form-group.col-lg-6
						label 預設圖片
						input.form-control(name="imageUrl", value=item.imageUrl)
					.form-group.col-lg-12
						label 名稱
						input.form-control(name="name", value=item.name)
					.form-group.col-lg-6
						label 照片下面的描述
						textarea.form-control(name="abstract") #{item.abstract}
					.form-group.col-lg-6
						label 商品描述
						textarea.form-control(name="description") #{item.description}
					.form-group.col-lg-6
						label 商品規格
						textarea.form-control(name="spec") #{item.spec}
					.form-group.col-lg-6
						label 保養與清潔
						textarea.form-control(name="other1") #{item.other1}
					.form-group.col-lg-6
						label 萬元免運費
						textarea.form-control(name="other2") #{item.other2}
					.form-group.col-lg-6
						label 保固與鑑賞
						textarea.form-control(name="other3") #{item.other3}
					.col-lg-6
						input.hidden(name="id", value=item._id)
						button.btn.btn-primary 送出
